{% extends "layout.html" %}

{% block title %}
    Get a Stock Quote
{% endblock %}

{% block main %}

    <form action="{{ url_for('quote') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="on" autofocus class="form-control" name="stock" placeholder="stock" type = "text"/>
            </div>
            <div class="form-group" id="get_quote_button">
                <button class="btn btn-primary btn-lg outline sharp" type="submit">Get Quote</button>
            </div>
        </fieldset>
    </form>
    
{% endblock %}